@model UniversityMvcApp.Models.EnrollCourses
@{
    ViewBag.Title = "Edit";
}
<style>



    .navbar-inverse {
        background-color: #0aadf6;
        border-color: #03A9F4;
    }

        .navbar-inverse .navbar-toggle {
            border-color: #2f39db;
        }



            .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
                background-color: #3775e1;
            }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: #212ef3;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #fff;
            background-color: #2982eb;
        }


    .header {
        padding-bottom: 20px;
        margin: initial;
    }

    .row {
        margin: auto;
    }
</style>

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EnrollCourses</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, "StudentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Grade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade)
                @Html.ValidationMessageFor(model => model.Grade)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date)
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
