@model UniversityMvcApp.Models.Department
@{
    ViewBag.Title = "View Course";
}
<style>
    body {
        background-image: url('../../Assets/img/bk-image.jpg');
        color: #000000;
        margin: 0;
    }

    a {
        color: #FF5722;
        text-decoration: none;
    }

        a:hover {
            color: #FF5722;
        }
</style>
<link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>



    .navbar-inverse {
        background-color: #0aadf6;
        border-color: #03A9F4;
    }

        .navbar-inverse .navbar-toggle {
            border-color: #2f39db;
        }



            .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
                background-color: #3775e1;
            }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: #212ef3;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #fff;
            background-color: #2982eb;
        }


    .header {
        padding-bottom: 20px;
        margin: initial;
    }

    .row {
        margin: auto;
    }
</style>
<h2>View Course Stastics</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("DepartmentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="DepartmentId" id="DepartmentId">
                    <option value="">--Select--</option>
                    @foreach (var department in ViewBag.departments)
                    {
                        <option value="@department.ID">@department.Code</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <table id="myTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name/Title</th>
                        <th>Semester</th>
                        <th>Assign To</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
}
@section scripts
    {
    @*<script src="~/Scripts/DataTables-1.9.4/docs/media/js/jquery.js"></script>
    *@
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#myTable").DataTable();
            $("#DepartmentId").change(function () {
                var deptId = $("#DepartmentId").val();

                $("#myTable").show();
                $("#tableBody").empty();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",

                    url: '/ViewCourseStatics/GetCourseStaticsByDepartment',

                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {


                        $.each(data, function (key, value) {

                            $("#tableBody").append('<tr><td>' + value.Code + '</td><td>' + value.Name + '</td><td>' + value.SemesterId + '</td><td>' + value.AssignedTo + '</td></tr>');
                        });
                    }
                });
            });
        });
    </script>
}