@model UniversityMvcApp.Models.AllocateClassRoom
@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-image: url('../../Assets/img/bk-image.jpg');
        color: #000000;
        margin: 0;
    }

    a {
        color: #FF5722;
        text-decoration: none;
    }

        a:hover {
            color: #FF5722;
        }
</style>
<style>



    .navbar-inverse {
        background-color: #0aadf6;
        border-color: #03A9F4;
    }

        .navbar-inverse .navbar-toggle {
            border-color: #2f39db;
        }



            .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
                background-color: #3775e1;
            }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: #212ef3;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #fff;
            background-color: #2982eb;
        }


    .header {
        padding-bottom: 20px;
        margin: initial;
    }

    .row {
        margin: auto;
    }
</style>

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AllocateClassRoom</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentId, "DepartmentId", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CourseId", String.Empty)
            @Html.ValidationMessageFor(model => model.CourseId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SubjectID, "Subject", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="SubjectID" id="SubjectID"></select>
            @*@Html.DropDownList("CourseId")*@
            @Html.ValidationMessageFor(model => model.SubjectID)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.RoomId, "Lecture Place", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RoomId", "--Select--")
            @Html.ValidationMessageFor(model => model.RoomId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.date, new { @id = "Date" })
            @Html.ValidationMessageFor(model => model.date)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Day" id="Day">
                <option value="">--Select--</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thrusday">Thrusday</option>
                <option value="Friday">Friday</option>
            </select>
            @Html.ValidationMessageFor(model => model.Day)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Day, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Day)
            @Html.ValidationMessageFor(model => model.Day)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.From, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.To, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FinishTime, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FinishTime)
            @Html.ValidationMessageFor(model => model.FinishTime)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
