<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hotel-School</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="We craft awesome Bootstrap themes for free and share selected resources for web designer &amp; developer. Download Free HTML themes for Bootstrap" />
    <link href="~/Assets/img/startup_logo_96dp.png" rel="apple-touch-icon" sizes="96x96">
    <link href="~/Assets/img/startup_logo_96dp.png" rel="icon" sizes="96x96" type="image/png">
    <link href="~/Assets/img/startup_logo_32dp.png" rel="icon" sizes="32x32" type="image/png">
    <meta content="~/Assets/img/startup_logo_96dp.png" name="msapplication-TileImage">

    <meta property="og:url" content="https://www.boostraptheme.com/demo/index.html" />
    <meta property="og:title" content="Startup - Business Free Bootstrap Template" />
    <meta property="og:locale" content="en_IN" />
    <meta property="og:site_name" content="Boostraptheme" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="BoostrapTheme" />
    <meta name="twitter:creator" content="BoostrapTheme" />

    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Assets/css/app.css">
    <script src="~/Assets/js/jquery.min.js"></script>
    <script> $(window).on('load', function () { $(".loader").fadeOut(2000); }); </script>
</head>
<body>
    <div class="loader"></div>
    <!-- NAVIGATION
        =================-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="index.html"><img src="~/Assets/img/logo1.png" style="max-height: 60px;" alt="" class="img-fluid"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger active" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Services","Home")">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Menu","Home")">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Index","Order")">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    @if (Session["customerID"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="@Url.Action("Login","Home")"><span class="fa fa-user"></span> Login</a>
                        </li>
                    }
                    else 
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link js-scroll-trigger" data-toggle="dropdown" href="#"><span class="fa fa-user"></span>@Session["customerName"].ToString()</a>
                            <ul class="dropdown-menu">
                                @if (Session["cart"] != null)
                                {
                                    <li><a href="@Url.Action("Cart","Shopping")">Orders</a></li>
                                }
                                <li><a href="@Url.Action("Index","CustomerAdmin")">Profile</a></li>
                                <li><a href="@Url.Action("Logout","Home")">Logout</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->
    @RenderBody()

    <!-- FOOTER
            =================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="company-desc">
                        <img src="~/Assets/img/logo1.png" alt="" class="img-fluid">
                        <p>Enjoyed our South Indian meals with best price. Time to deliver, quality and quantity were great- no complaints. Located very closely to Kirulapphane. Recommend visiting Hotel-School for great Indian veg food when in Jaffna.</p>
                        <address><i class="fa fa-map-marker"></i>No 155 Park Road, Jaffna,<br /> Park Rd, Jaffna </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <h3>Social Corner</h3>
                        <ul>
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-google-plus"></i></li>
                            <li><i class="fa fa-youtube"></i></li>
                        </ul>
                        <div class="cont-info number">
                            <i class="fa fa-phone"></i>
                            <a href="#">0768 411 957</a>
                        </div>
                        <div class="cont-info mail">
                            <i class="fa fa-envelope-o"></i>
                            <a href="#">contact@Hotel-School.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="latest-news">
                        <h3>Latest News</h3>
                        <img src="img/blog/blog-small-1.jpg" alt="" class="img-fluid">
                        <p>Comming soon</p>
                        <small>28/12/2019</small>
                    </div>
                    <div class="latest-news">
                        <img src="img/blog/blog-small-2.jpg" alt="" class="img-fluid">
                        <p>Comming soon</p>
                        <small>28/12/2019</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-b text-center">
            <small>Design by <a href="https://boostraptheme.com/">Hotel-School</a></small>
        </div>
    </footer>

    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.easing.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/wow.min.js"></script>
    <script src="~/Assets/js/app.js"></script>
    @RenderSection("scripts", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a6d77fc4b401e45400c7419/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>