<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel-School Moodle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home2")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course<b class="caret"></b></a>
                        <ul class="dropdown-menu">


                            <li>@Html.ActionLink("View Class Schedule", "ViewCourseDetails", "ViewClassScheduleWithRoomAllocation2")</li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student<b class="caret"></b></a>
                        <ul class="dropdown-menu">


                            <li>@Html.ActionLink("View Students Result", "ResultView", "ViewResult2")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SubmissionDetails<b class="caret"></b></a>
                        <ul class="dropdown-menu">


                            <li>@Html.ActionLink("Submit Here", "Index", "Files")</li>
                        </ul>
                    </li>

                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>

                    @if ((Session["adminName"] == null) && (Session["studentName"] == null))
                    {
                        @*<li class="nav-item">*@
                        <li class="nav navbar-nav navbar-right">

                            <a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Login")"><span class="fa fa-user"></span>Logout</a>
                        </li>
                    }
                    else
                    {
                        if (Session["adminName"] == null)
                        {

                            @*<li><a href="@Url.Action("Create", "Home2")">Profile</a></li>*@
                            
                                <li class="nav navbar-nav navbar-right"><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                                <li>


                                    <span class="fa fa-user"></span>@Session["studentName"].ToString()
                                </li>
                               
                                }

                                else
                                {
                                <li><a href="@Url.Action("Create", "Home", new { area=""})">Profile</a></li>

                                <li class="nav navbar-nav navbar-left">

                                    <span class="fa fa-user"></span>@Session["adminName"].ToString()

                                </li>

                                <li class="nav navbar-nav navbar-left"><a href="@Url.Action("Logout", "Login")">Logout</a></li>

                                }


                                }
                            </ul>

                            @*@if (Session["cart"] != null)
                {
                    <li><a href="@Url.Action("Cart","Shopping")">Orders</a></li>
                }*@





</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Hotel School Management-Moodle</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
