@model IEnumerable<RMS2.Models.OrderDetails>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <section class="invoice">
                <div class="row mb-4">
                    <div class="col-6">
                        <h2 class="page-header"><i class="fa fa-globe"></i> Thails Invoice</h2>
                    </div>
                    <div class="col-6">
                        <h5 class="text-right">Date: @DateTime.Now</h5>
                    </div>
                </div>
                <div class="row invoice-info">
                    <div class="col-4">
                        From
                        <address><strong>Hotel-School</strong><br></address>
                    </div>
                    <div class="col-4">
                        To
                        <address><strong>@ViewBag.name</strong><br></address>
                    </div>
                    <div class="col-4"><b>Invoice:@ViewBag.invoiceNo</b><br><br><b>Order Number:@ViewBag.orderNo</b></div>
                </div>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        FoodName
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Single Quantity Price
                                    </th>
                                    <th>
                                        Sub Total
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                         
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FoodName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>@(item.Price * item.Quantity)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2">
                                <label><b>Total Amount:</b></label>
                            </div>
                            <div class="col-md-2">
                               <b>@ViewBag.total</b> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-print-none mt-2">
                    <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();" target="_blank"><i class="fa fa-print"></i> Print</a></div>
                </div>             
            </section>
        </div>
    </div>
</div>










