@model UniversityMvcApp.Models.Student
@{
    ViewBag.Title = "Delete";
}

<style>



    .navbar-inverse {
        background-color: #0aadf6;
        border-color: #03A9F4;
    }

        .navbar-inverse .navbar-toggle {
            border-color: #2f39db;
        }



            .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
                background-color: #3775e1;
            }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
            border-color: #212ef3;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #000000;
        }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #fff;
            background-color: #2982eb;
        }


    .header {
        padding-bottom: 20px;
        margin: initial;
    }

    .row {
        margin: auto;
    }
</style>
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationSerial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationSerial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
